<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tarek.vaccins">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".notification.App"
        android:allowBackup="true"
        android:icon="@drawable/my_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".polyclinic.PolyclinicMapActivity"></activity>
        <activity android:name=".edit.EditAccountActivity" />
        <activity android:name=".records.WilayaActivity" />
        <activity android:name=".NotificationHelper" />
        <activity android:name=".home.VaccinInfosActivity" />
        <activity android:name=".home.SettingActivity" />
        <activity android:name=".home.RdvActivity" />
        <activity android:name=".edit.EditFatherProfile" />
        <activity android:name=".register.PhoneRegisterActivity" />
        <activity android:name=".polyclinic.PolyclincProfileActivity" />
        <activity android:name=".notification.TestNotification" />
        <activity android:name=".polyclinic.PolyclinicActivity" />
        <activity android:name=".records.VaccinationActivity" />
        <activity android:name=".records.RecordsActivity" />
        <activity android:name=".register.InfoAdressActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.SplashActivity" >

        </activity>
        <activity android:name=".register.WelcomeActivity" />
        <activity android:name=".register.IntroActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".home.HomeActivity" />

        <receiver android:name=".notification.NotificationReceiver" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>